.headerDesign {

    height: 10vh;
    width: 100vw;

    background-color: antiquewhite;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.headerLink {

    color: blue;
    font-weight: bolder;
    margin-right: 1em;
    cursor: pointer;

}

.headerLink:hover {
    background-color: grey;
}